<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3.dtd">

<mapper namespace="com.fx.hmwac.dao.DataMapper">
	<insert id="saveDatas" parameterType="DataLoadBean">
		insert into picturelists(id, flodName, path, author, saveTime, num)
		values(#{id}, #{flodName}, #{path}, #{author}, #{saveTime}, #{num});
	</insert>
	<select id="getAllData" resultType="DataLoadBean">
		select * from picturelists where status=1;
	</select>
	<select id="getDataById" parameterType="DataLoadBean" resultType="DataLoadBean">
		select * from picturelists where
		id=#{id} and status=1;
	</select>
	<update id="deleteDataById" parameterType="DataLoadBean">
		update picturelists set status=0 where
		id=#{id}
	</update>
</mapper>