<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3.dtd">

<mapper namespace="com.fx.hmwac.dao.ModelMapper">

	<select id="getAllModels" resultType="ModelBean">
		select * from model where status=1;
	</select>
	<select id="getModelById" parameterType="ModelBean" resultType="ModelBean">
		select * from model where
		id=#{id} and status=1;
	</select>
	<update id="deleteModelById" parameterType="ModelBean">
		update model set status=0 where
		id=#{id}
	</update>
</mapper>